rect {
  fill: green;
  stroke: blue;
  stroke-width: 10;
}

.tomatos {
  fill: tomato;
  stroke: orange;
  stroke-width: 20;
}

#your-star {
  fill: lime;
  stroke: red;
  stroke-width: 2;
}

#circle {
  fill: red;
}
